image:
  registry: docker.io
  # Provide url for Docker image. <Required>
  repository: sspringett/nvdmirror
  # Provide specific tag for docker image. If not provided, Default is "Latest".
  tag: 1.4.0
  pullPolicy: IfNotPresent
  # Provide imagePullSecret used for pulling image from your docker registry.
  pullSecret: {}

replicaCount: 1

service:
  # Type of service you want to create. e.g. Loadbalancer, Nodeport, etc. Default is LoadBalancer
  type: ClusterIP
  # Target port you want to use for your service.
  port: 8080
  # Use below to provide any annotations for k8s cluster.
  # E.g. If you have k8s cluster in using external-dns which creates DNS record for service
  #      use following annotation and provide DNS value.
  # Similarly, use annotation to create tags for your resource
  # Annotations are optional, if not provided, no annotations will be added for service.
  annotations: {}

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: nginx
    #kubernetes.io/tls-acme: "true"
  hosts:
    - nist.example.com
  tls:
    # - secretName: nist-tls
    #  hosts:
    #    - nist.example.com

## Enable persistence using Persistent Volume Claims
## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  enabled: true
  data:
    ## openproject data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    # storageClass: "-"

    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim: nist-data

    accessMode: ReadWriteOnce
    size: 8Gi

## Configure resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  #  limits:
  #    cpu: 200m
  #    memory: 100Mi
  #  requests:
  #    cpu: 100m
  #    memory: 32Mi

# Liveness and readiness probe values
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes
##
livenessProbe:
  enabled: true
  settings:
    initialDelaySeconds: 120
    timeoutSeconds: 1
    periodSeconds: 30
    successThreshold: 1
    failureThreshold: 10

readinessProbe:
  enabled: true
  settings:
    initialDelaySeconds: 20
    timeoutSeconds: 1
    periodSeconds: 30
    successThreshold: 1
    failureThreshold: 3

nodeSelector: {}

tolerations: []

affinity: {}

